$base_font_size: 14px;
$base_font_family: aleo, Arial, Helvetica, sans-serif;
$fancy_font_family: WCManoNegra, serif;
$content_width: 1100px;

$red: #f34949;
$gray: #b7b7b7;
$banner_col: $red;
$subtle_col: $gray;

$intro_bg_img: '/img/intro-bg.jpg';
$intro_bg_img_filter: 0.25;

$banner_skew: 10deg;

$menu_list_gutter: 115px;
$dishes_list_gutter: 60px;
$footer_gutter: 60px;

$img_gal_control_size: 30px;